[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-blogging-plugin = "*"
mkdocs-material-extensions = "*"
mkdocs-mermaid2-plugin = "*"
mkdocs-monorepo-plugin = "*"
pymdown-extensions = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
serve = "LC_ALL=en_US.UTF-8 LANG=en_US.UTF-8 mkdocs serve -a localhost:8000"
